<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header pb-0">
          <div class=" d-flex justify-content-between">
            <h2>Quản Lý Sản Phẩm</h2>
            <a id="form-add" class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar">Thêm</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Project</th>
                <th scope="col">Budget</th>
                <th scope="col">Status</th>
                <th scope="col">Users</th>
                <th scope="col">Completion</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  $2,500 USD
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                          aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                    <a class="text-sm font-weight-bold mb-0 " id="btn-del">
                      Delete
                    </a>
                    <a id="btn-edit" data-bs-toggle="offcanvas" 
                      data-bs-target="#offcanvasNavbarupdate" class="text-sm font-weight-bold mb-0 ps-2">
                      Edit
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #adddropdown {
    top: -100%;
  }

  #btn-edit,
  #btn-del {
    cursor: pointer;
  }

  .text-muted {
    /* display: none; */
  }

  #adddropdown {
    top: -10%;
    -webkit-animation-name: rightanimationend;
    -webkit-animation-duration: 0.4s;
    animation-name: rightanimation;
    animation-duration: 0.4s;
  }

  #offcanvasNavbar {
    width: 40%;
  }

  .btn-close {
    color: #524f4c !important;
  }

  .swal2-cancel {
    margin-right: 10% !important;
  }

  #btn-submit-add {
    text-align: center;
  }

  #offcanvasNavbarupdate {
    width: 70%;
  }

  @media only screen and (max-width: 1400px) {
    #offcanvasNavbarupdate {
      width: 78%;
    }

    #offcanvasNavbar {
      width: 78%;
    }
  }

  @media only screen and (max-width: 1200px) {
    #offcanvasNavbarupdate {
      width: 100%;
    }

    #offcanvasNavbar {
      width: 100%;
    }
  }

  @media only screen and (max-width: 1000px) {
    #imgupdate {
      width: 12rem;
      height: 17rem;
    }
  }

  #imgupdate {
    color: bisque;
    border: 1px solid #b3aea7;
    width: 18rem;
    height: 23rem;
    margin-left: 8%;
  }
</style>

<!-- ADD dropdow  -->
<div id="adddropdown" class="bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <h1 id="add-title" style="text-align: center">Thêm Sản Phẩm</h1>
        <form class="mt-8" method="POST" id="insert_personnel">
          <div class="mb-3 row ml-7">
            <label for="fullname" class="col-sm-4 col-form-label">Tên Sản Phẩm</label>
            <div class="col-sm-6">
              <input type="text" name="name" id="name" class="form-control" id="name"
               />
              <span class="text-danger text-xs pt-1 fullname_error"></span>
            </div>
          </div>

          <div class="mb-3 row ml-7">
            <label for="staticEmail" class="col-sm-4 col-form-label">Mã Sản Phẩm</label>
            <div class="col-sm-6">
              <input type="text" name="code" id="code" class="form-control" id="code"
                 />
              <span class="text-danger text-xs pt-1 email_error"></span>
            </div>
          </div>

          <div class="mb-3 row ml-7">
            <label for="inputPassword" class="col-sm-4 col-form-label">Loại Sản Phẩm</label>
            <div class="col-sm-6">
              <input type="text" name="product" class="form-control" id="product" />
              <span class="text-danger text-xs pt-1 text"></span>
            </div>
          </div>

          <div class="mb-3 row ml-7">
            <label for="phoneadd" class="col-sm-4 col-form-label">Số Lượng</label>
            <div class="col-sm-6">
              <input type="text" name="count" id="count" class="form-control" id="count"/>
              <span class="text-danger text-xs pt-1 count"></span>
            </div>
          </div>
          <div class="mb-3 row ml-7">
            <label for="mansadd" class="col-sm-4 col-form-label">Địa Chỉ</label>
            <div class="col-sm-6">
              <input type="text" name="address" id="address" class="form-control" />
              <span class="text-danger text-xs pt-1 address_error"></span>
            </div>
          </div>
          <div id="btn-submit-add">
            <button type="submit" id="btn_insert_personnel" class="btn btn-primary mt-7">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update page -->
<div id="updatedropdown" class="bg-light fixed-top">
  <div class="container-fluid">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarupdate"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <h1 id="add-title" style="text-align: center">Sửa Nhân Sự</h1>
        <form class="mt-5 col col-12" id="form_update" action="" method="POST"
          enctype="multipart/form-data">
          <div class="row wraper">
            <div class="row">
              <div class="col-4 justify-content-center" style="text-align: center">
                <div id="imgupdate">
                  <img id="img_url" src="" width="100%" height="100%" alt="ảnh Nhân sự" />
                </div>
                <div class="m-3 col-9">
                  <input type="file" name="img_url" onchange="readURL(this);" class="form-control" id="img_url_update">
                </div>
              </div>

              <div class="col-4">
                <div class="form-update d-none">
                  <label for="mans" class="col-sm-4 col-form-label d-none">id :</label>
                  <input type="text" readonly name="id" class="form-control d-none" id="id_user" required />
                </div>
                <div class="form-update">
                  <label for="mans" class="col-sm-4 col-form-label">Thuộc tính :</label>
                  <input type="text" readonly id="personnel_codeu" class="form-control" id="mans" required />
                </div>
                <div class="form-update">
                  <label for="name" class="col-sm-4 col-form-label">Thuộc tính :</label>
                  <input type="text" name="fullname" id="fullnameu" class="form-control" id="name" required />
                </div>
                <div class="form-update">
                  <label for="Email" class="col-sm-4 col-form-label">Thuộc tính :</label>
                  <input type="email" name="email" id="emailu" class="form-control" id="Email" required />
                </div>
                <div class="form-update">
                  <label for="phone" class="col-sm-4 col-form-label">Thuộc tính :</label>
                  <input type="text" name="phone" id="phoneu" class="form-control" id="phone" required />
                </div>
                <div class="form-update">
                  <label for="phone" class="col-sm-4 col-form-label">Thuộc tính :</label>
                  <input type="text" name="address" id="addressup" class="form-control" id="phone" required />
                </div>
              </div>
              <div class="col-4">
                <label for="phongban" class="col-sm-4 col-form-label">Thuộc tính :</label>
                <select class="form-control" name="department_id" id="department_idu">
        
                  <option value="">Phòng ban</option>
                  
                </select>
                <label for="chucvu" class="col-sm-4 col-form-label">Thuộc tính :</label>
                <select class="form-control" name="position_id" id="position_idu">
                  
                  <option value="">Chức Vụ</option>
                 
                </select>
                <label for="chucvu" class="col-sm-4 col-form-label">Thuộc tính :</label>
                <input type="text" name="title" class="form-control" id="title" required />
                <label for="trangthai" class="col-sm-4 col-form-label">Thuộc tính :</label>
                <select class="form-control" name="status" id="statusu">
                  <option value="0">Chưa Kích Hoạt</option>
                  <option value="1">Đang Hoạt Động</option>
                  <option value="3">Khoá</option>
                </select>
                <label for="trangthai" class="col-sm-4 col-form-label">Thuộc tính :</label>
                <select class="form-control" name="gender" id="gender">
                  <option value="0">Không được quy định</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-update">
                <label for="dateofbirth" class="col-sm-4 col-form-label">Ngày nhập:</label>
                <input type="date" name="date_of_birth" class="form-control" id="date_of_birthu" />
              </div>
            </div>

            <div class="col-6">
              <div class="form-update">
                <label for="recrui" class="col-sm-4 col-form-label">Hạn Bảo Hành:</label>
                <input type="date" name="recruitment_date" class="form-control" id="recruitment_dateu" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="exampleFormControlTextarea1" class="col-sm-4 col-form-label">Giới Thiệu Về sản phẩm
                :</label>
              <textarea class="form-control" name="about" id="about" rows="3"></textarea>
            </div>
          </div>
          <div class="btn-group-update mt-5 align-items-center justify-content-center">
            <button class="btn btn-primary" id="btn_update_personnel">Cập Nhật</button>
            <a data-bs-dismiss="offcanvas" aria-label="Close" class="btn btn-danger">Close</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        
        <div class="card-body px-0 pt-0 pb-2" id="body_query">
          
          



        </div>
      </div>

    </div>
  </div>
</div> -->
